{% load static %}
<link rel="stylesheet" href="{% static 'css/bmi.css' %}">

<h1><a href="../">Group 13's cooking website</a></h1>
{% if user.is_authenticated %}
<h2>BMI Calculator</h2>

<form method="post">
    <p>Weight</p><input type="text" name="weight" required class="center"><br>
    <p>Height</p><input type="text" name="height" required class="center"><br>
    <p>Age</p><input type="text" name="age" required class="center"><br>
    <input type="submit" name="submit" value="Calculate BMI" class="center">
</form>

{% else %}
<h2>You must log in to use this feature</h2>

{% endif %}

{% if message_ok %}
<p>{{message_ok}}</p>
{% endif %}

{% if message_not_ok %}
<p>{{message_not_ok}}</p>
<p style="text-align: left; font-weight: bolder;">For losing weight</p><br><br>
<a href="https://www.cdc.gov/healthyweight/losing_weight/index.html" style="text-align: left; font-size: 40px;">https://www.cdc.gov/healthyweight/losing_weight/index.html</a><br>
<a href="https://www.healthline.com/nutrition/how-to-lose-weight-as-fast-as-possible" style="text-align: left; font-size: 40px;">https://www.healthline.com/nutrition/how-to-lose-weight-as-fast-as-possible</a><br>
<a href="https://www.medicalnewstoday.com/articles/322345" style="text-align: left; font-size: 40px;">https://www.medicalnewstoday.com/articles/322345</a><br>

<p style="text-align: left; font-weight: bolder;">For gaining weight</p><br><br>
<a href="https://www.healthline.com/nutrition/how-to-gain-weight" style="text-align: left; font-size: 40px;">https://www.healthline.com/nutrition/how-to-gain-weight</a><br>
<a href="https://www.nhs.uk/live-well/healthy-weight/managing-your-weight/healthy-ways-to-gain-weight/" style="text-align: left; font-size: 40px;">https://www.nhs.uk/live-well/healthy-weight/managing-your-weight/healthy-ways-to-gain-weight/</a><br>
<a href="https://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/expert-answers/underweight/faq-20058429" style="text-align: left; font-size: 40px;">https://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/expert-answers/underweight/faq-20058429</a>

{% endif %}
